.not-found-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: var(--size-100vh);
  font-family: var(--font-main);
}
.not-found-title {
  font-size: var(--font-size-6rem);
  color: var(--color-text-muted);
  opacity: var(--opacity-0-5);
}
.not-found-subtitle {
  font-size: var(--font-size-1-5rem);
  color: var(--color-text-main);
  margin: var(--space-10px) 0;
}
.not-found-text {
  color: var(--color-text-muted);
  margin-bottom: var(--space-30px);
  max-width: var(--size-400px);
}

