
.form-page-container {
margin: var(--space-1rem);
/* border: 1px solid rgb(123, 255, 0); */
}
.form-page-header {
margin: var(--space-1rem);
/* border: 1px solid rgb(123, 255, 0); */
}

.form-page-header__title {
font-size: var(--font-size-1-2rem);
font-weight: var(--font-weight-bold);
margin-bottom: var(--space-0-5rem);
}

.form-page-header__subtitle {
font-size: var(--font-size-1rem);
margin-bottom: var(--space-1rem);
}

.form-container {
margin: var(--space-1rem);
/* border: 1px solid rgb(0, 8, 255); */
}

@media (max-width: 480px) {
  .form-page-container,
  .form-page-header,
  .form-container {
    margin: var(--sm);
  }
}



