
/* Contenedor principal del sidebar */
.sidebar {
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 13rem;
  padding: 0.5rem;
  background-color: var(--color-background);
  box-shadow: 1px 0px 10px var(--color-primary);
  transition: width 0.5s ease;
}
.sidebar-layout .outlet-layout {
  margin-left: 13rem;
}

.sidebar-layout.collapsed .outlet-layout {
  margin-left: 3.5rem;
}
